---
# Only the main Sass file needs front matter (the dashes are enough)
---

// start content
@charset "utf-8";

$title-font-family: 'Vollkorn', Helvetica, Arial, sans-serif;
$title-font-weight: 400;
$base-font-family: Calibri, Trebuchet, Helvetica, Arial, sans-serif;
$base-font-size:   22px;
$base-font-weight: 100;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5em;

$button-color:     #ee3e4f;
$button-color-hover: lighten($button-color, 5%);

$spacing-unit:     30px;

$text-color:       #3e3e3e;
$background-color: #f9f9f9;
$brand-color:      #dc3b52;
$link-visited-color: darken($brand-color, 20%);

$grey-color:       #747474;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

@import "base";
