body {
    padding-top: 56px;
    padding-bottom: 20px;
}

.navbar-fixed-top {
    border-top: 6px solid rgb(238, 62, 79) !important;
    color: #fff;
}

.navbar-fixed-top a {
    color: #fff !important;
}