<!-- Modal -->
<div class="modal fade" id="myContact" tabindex="-1" role="dialog" aria-labelledby="myContact">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pagina de Aterrizaje</h4>
            </div>
            <div class="modal-body">
                <p>
                    Ofrecemos el servicio de páginas de aterrizaje y publicidad digital basado en su presupuesto para
                    invertir en anuncios de busqueda, banners o redes sociales.
                </p>
                <p><strong>¿Que incluye el servicio?</strong></p>
                <ul>
                    <li>Asesoría y capacitación en línea</li>
                    <li>Dominio (tuempresa).contacto.top</li>
                    <li>Asistencia al cliente por medio de correo electrónico</li>
                    <li>Administrador de clientes</li>
                    <li>Diseño e implementación de la página de aterrizaje</li>
                    <li>Página de Negocios para Marketing Local</li>
                    <li>Segmentamos tus anuncios en base a sus objetivos</li>
                    <li>Publicidad en Facebook, Instagram, Twitter, Gmail y Google</li>
                    <li>Eventos 100% medibles, reporte de eficiencia</li>
                    <li>Mapas de calor para medir la efectividad del sitio</li>
                </ul>
                <h4 class="page-header">Contacto</h4>
                <p>
                    Para más información contáctanos al <strong>Correo electrónico:</strong> <a href="mailto:hola@contacto.top">hola@contacto.top</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>